main {
  max-width: 1200px;
  background-color: var(--cor-bg-2);
  margin-top: 150px;
  padding: 25px;
  gap: 5px 25px;
  position: relative;
}

main::before {
  content: "";
  display: inline-block;
  height: 100%;
  background-color: var(--cor-destaque);
  width: 5px;
  position: absolute;
  left: -5px;
  border-radius: 5px 0 0 5px;
}

main h1 {
  grid-column: 1/-1;
  margin-left: 10px;
  position: relative;
  width: auto;
}

main h1:before {
  content: "";
  display: inline-block;
  width: 4px;
  height: 11px;
  position: absolute;
  background-color: #304D30;
  bottom: 13px;
  left: -7px;
  border-radius: 0 0 0 5px;
}

main img {
  width: 450px;
}

main article {
  gap: 60px;
  justify-content: space-between;
}

main section {
  margin-top: 5px;
  background-color: var(--cor-bg);
  padding: 25px 0px;
  width: 200px;
  display: grid;
  align-items: center;
  text-align: center;
  gap: 30px;
  position: relative;
}

main section::before {
  content: "";
  display: block;
  width: 200px;
  height: 5px;
  position: absolute;
  background-color: var(--cor-destaque);
  top: -5px;
  border-radius: 5px 5px 0px 0px;
}

main section::after {
  content: "";
  display: block;
  width: 200px;
  height: 5px;
  position: absolute;
  background-color: var(--cor-destaque);
  bottom: -5px;
  border-radius: 0px 0px 5px 5px;
}

section p {
  font-family: var(--tipografia-rasa);
  font-size: 1.5rem;
  margin: 0px;
}

main div {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
  justify-items: end;
  align-items: end;
}

main nav {
  gap: 50px;
  align-items: center;
}

main nav a {
  font-size: 1.5rem;
  font-family: var(--tipografia-lato);
  text-transform: uppercase;
  padding: 7.5px 15px;
}

main nav .botao-casas {
  color: var(--cor-destaque);
  border: 4px solid var(--cor-destaque);
  border-radius: 5px;
  transition: .3s;
}

main nav .botao-casas:hover {
  color: #E6EDE6;
  background-color: var(--cor-destaque);
  border-radius: 5px;
}

main nav .botao-info {
  color: #E6EDE6;
  background-color: var(--cor-destaque);
  border-radius: 5px;
  border: 4px solid var(--cor-destaque);
  transition: .3s;
}

main nav .botao-info:hover {
  color: var(--cor-destaque);
  background-color: var(--cor-bg-2);
}

@media(max-width:1350px) {
  main {
    max-width: 1000px;
    gap: 5px 10px;
    grid-template-columns: auto 1fr !important;
  }

  main img {
    width: 400px;
  }

  main article {
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
  }

  main nav a {
    font-size: 1.25rem;
    padding: 5px 10px;
  }

  main section {
    width: 160px;
  }

  main section::after {
    width: 160px
  }

  main section::before {
    width: 160px
  }

  main section p {
    font-size: 1.25rem;
  }
}

@media(max-width:1000px) {
  main {
    max-width: 800px;
  }

  main div {
    gap: 15px;
  }

  main section {
    width: 120px;
    padding: 10px 0px;
    gap: 10px;
  }

  main section::after {
    width: 120px
  }

  main section::before {
    width: 120px
  }

  main nav {
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
  }

}

@media(max-width:850px) {
  main {
    max-width: 450px;
    grid-template-columns: 1fr !important;
    justify-items: center;
    gap: 30px;
  }

  main div {
    justify-content: center;
    gap: 30px;
  }
}

@media(max-width:600px) {
  main::before {
    content: "";
    display: block;
    height: 5px;
    background-color: var(--cor-destaque);
    width: 100%;
    position: absolute;
    top: -5px;
    left: 0px;
    border-radius: 5px 5px 0 0;
  }
}

@media(max-width:450px) {
  main {
    max-width: 250px;
  }

  main h1 {
    font-size: 1.75rem !important;
  }

  main img {
    width: 200px;
  }

  main section p {
    font-size: 1rem;
  }

  main nav a {
    font-size: 1rem;
  }


}