.footer {
  background-color: var(--cor-bg);
  position: relative;
}

.footer::before {
  content: "";
  width: 100%;
  height: 5px;
  position: absolute;
  top: -5px;
  left: 0px;
  background-color: var(--cor-preto);
}

.footer-container {
  display: grid;
  grid-template-columns: 1fr 600px;
  max-width: 1200px;
  margin: 0 auto;
  gap: 40px;
  padding: 40px 0;
}

.footer-logo {
  justify-self: center;
  align-self: center;
  width: 110px;
}

.footer-info-container {
  display: flex;
  gap: 200px;
}

.footer-info {
  display: flex;
  flex-direction: column;
  align-content: start;
  gap: 15px;
}

.subtitulo {
  font-family: var(--tipografia-rasa);
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 5px;
}

.footer-txt {
  font-family: var(--tipografia-lato);
  color: var(--cor-tipografia);
  font-size: 1rem;
  position: relative;
  font-weight: 500;
  line-height: 1.25rem;
}

.footer-txt-container {
  display: flex;
  position: relative;
  align-items: center;
}

.footer-txt-container img {
  width: 20px;
  position: absolute;
  left: -25px;
}

.footer-a {
  text-decoration: underline;
  font-weight: 400;
  align-self: start;
  padding: 0 5px;
}

.footer-a:hover {
  font-weight: bold;
}

@media(max-width:1200px) {
  .footer-container {
    max-width: 800px;
    grid-template-columns: 1fr 400px;
  }

  .footer-info-container {
    gap: 100px;
  }

  .footer-logo {
    width: 90px;
  }
}

@media(max-width:800px) {
  .footer-container {
    max-width: 600px;
    grid-template-columns: 1fr 1fr;
  }

  .subtitulo {
    font-size: 1rem;
  }

  .footer-txt {
    font-size: .75rem;
  }

  .footer-info p img {
    width: 15px;
    left: -20px;
  }
}

@media(max-width:600px) {
  .footer-container {
    max-width: 450px;
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .footer-info-container {
    flex-direction: column;
    gap: 20px;
  }

  .footer-txt-container img {
    width: 18px;
    left: -20px;
  }
}

@media(max-width:450px) {
  .footer-info {
    gap: 10px;
  }

  .footer-txt-container img {
    width: 15px;
    left: -20px;
  }
}