@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Rasa:wght@300..700&display=swap');

:root {
  --cor-destaque: #0E200E;
  --cor-tipografia: #0a0a0a;
  --cor-bg: #fafafa;
  --cor-bg-2: #ffffff;
  --tipografia-lato: "Lato", sans-serif;
  --tipografia-rasa: "Rasa", serif;
}

body {
  margin: 0px;
  background-color: var(--cor-bg);
}

ul {
  margin: 0px;
  list-style: none;
  padding: 0px;
}

h1 {
  margin: 0px;
}

a {
  text-decoration: none;
  padding: 0px;
  margin: 0px;
}

.container {
  width: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.flex {
  display: flex;
}

.bold {
  font-weight: 700;
}

.medium {
  font-weight: 500;
}

.titulo {
  font-family: var(--tipografia-rasa);
  font-weight: bold;
  font-size: 2rem;
}

.sombra {
  box-shadow: 1px 2px 1px #00000025;
}

/* span {
  display: block;
  background-color: red;
  width: 1200px;
  height: 5px;
} */