body {
  margin: 0px;
  /* display: grid;
  justify-content: center; */
}

.header {
  max-width: 1200px;
  justify-content: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin: 0 auto;
  margin-top: 40px;
}

.header ul {
  display: flex;
}

.header a {
  display: flex;
}


.logo {
  width: 170px;
  margin-left: 100px;
}

header nav {
  justify-self: center;
}

header nav ul {
  gap: 100px;
}

li {
  align-items: center;
}

li img {
  width: 22px;
  margin-top: 2px;
}

li a {
  font-size: 1.5rem;
  color: var(--cor-tipografia);
  font-family: var(--tipografia-lato);
  font-weight: bold;
  gap: 8px;
  align-items: start;
}

@media(max-width:1200px) {
  .header {
    max-width: 800px;
    justify-items: center;
  }

  .logo {
    margin-left: 0px;
  }

  .header nav ul {
    gap: 50px;
  }
}

@media(max-width:800px) {
  .header {
    max-width: 600px;
    justify-items: left;
  }

  .logo {
    width: 150px;
    justify-self: center;
  }

  header nav ul {
    gap: 0px;
  }

  li img {
    width: 20px;
  }

  li a {
    font-size: 1.5rem;
  }
}

@media(max-width:600px) {
  header {
    width: 450px;
    justify-items: center;
  }

  .logo {
    width: 100px;
    margin-left: 0px;
  }

  .header nav ul {
    gap: 25px;
  }

  li img {
    width: 15px;
  }

  li a {
    font-size: 1.25rem;
  }
}

@media(max-width:450px) {
  .header {
    width: 80%;
    justify-items: left;
    gap: 10px;
    grid-template-columns: 1fr;
  }

  header img {
    width: 100px;
  }

  .header nav ul {
    gap: 10px;
  }

  li img {
    width: 15px;
  }

  li a {
    padding: 5px;
    align-items: center;
  }
}