body {
  display: grid;
  justify-content: center;
  max-width: 1200px;
  margin: 30px auto 0 auto;
}

header {
  width: 1200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
}

header img {
  width: 170px;
}

header nav {
  display: block;
}

.flex {
  display: flex;
}

ul {
  gap: 100px;
}

li {
  gap: 10px;
}

li img {
  width: 25px;
}

li a {
  font-size: 2rem;
  color: black;
  font-family: "Lato", sans-serif;
  font-weight: bold;
}

@media(max-width:1200px) {
  header {
    width: 800px;
    justify-items: center;
  }

  ul {
    gap: 50px;
  }
}

@media(max-width:800px) {
  header {
    width: 650px;
  }

  header img {
    width: 150px;
  }

  li img {
    width: 20px;
  }

  li a {
    font-size: 1.5rem;
  }
}

@media(max-width:600px) {
  header {
    width: 450px;
  }

  header img {
    width: 100px;
  }

  ul {
    gap: 30px;
  }

  li img {
    width: 15px;
  }

  li a {
    font-size: 1rem;
  }
}

@media(max-width:400px) {
  header {
    width: 250px;
    justify-items: left;
  }

  header img {
    width: 80px;
  }

  ul {
    gap: 10px;
  }

  li img {
    display: none;
  }

  li a {
    padding: 5px;
  }
}