main {
  margin-top: 120px;
}

.container-sobre {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 72px;
  max-width: 1200px;
}

.container-sobre img {
  height: 400px;
  width: 600px;
}

.sobre {
  background-color: var(--cor-bg-2);
  background-color: #ededed;
  padding: 15px;
  position: relative;
}

.sobre::before {
  content: "";
  width: 5px;
  height: 100%;
  position: absolute;
  background-color: #000000;
  top: 0px;
  left: -5px;
  border-radius: 5px 0 0 5px;
}

.txt {
  font-family: var(--tipografia-lato);
  font-size: 1.25rem;
  margin: 10px 0 24px 0;
  font-weight: 500;
  color: var(--cor-tipografia);
}

.btn {
  color: #E6EDE6;
  padding: 10px 20px;
  background-color: #1D712F;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-family: var(--tipografia-lato);
  font-weight: 500;
  align-self: end;
  justify-self: end;
  display: inline-block;
  transition: .3s;
}

.btn:hover {
  background-color: #125A22;
}

main img {
  border-radius: 5px;
}

.container-destaque {
  background: var(--cor-bg-2);
  padding: 72px 0;
}

.destaque {
  padding: 25px 40px;
  max-width: 1280px;
  box-sizing: border-box;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 600px;
  background-color: var(--cor-bg);
  gap: 20px 40px;
  position: relative;
  border-radius: 0 5px 5px 0;
}

.destaque::before {
  content: " ";
  width: 5px;
  height: 100%;
  background-color: var(--cor-preto);
  border-radius: 5px 0 0 5px;
  display: block;
  position: absolute;
  left: -5px;
}

.destaque .titulo {
  grid-column: 1/-1;
}

.destaque img {
  height: 340px;
  width: 100%;
}

.destaque div {
  display: grid;
  grid-template-rows: auto 1fr;
}

.item-container {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.item {
  margin-top: 5px;
  background-color: var(--bg-3);
  padding: 40px 10px;
  width: 150px;
  display: grid;
  gap: 20px;
  align-items: center;
  position: relative;
}

.item::before {
  content: " ";
  display: block;
  width: 100%;
  height: 5px;
  border-radius: 5px 5px 0 0;
  position: absolute;
  top: -5px;
  background-color: var(--cor-preto);
}

.item::after {
  content: " ";
  display: block;
  width: 100%;
  height: 5px;
  border-radius: 0 0 5px 5px;
  position: absolute;
  bottom: -5px;
  background-color: var(--cor-preto);
}

.item-txt {
  font-family: var(--tipografia-rasa);
  font-size: 1.5rem;
  color: var(--cor-tipografia);
  line-height: 1.4rem;
}

@media(max-width:1200px) {
  main {
    margin-top: 100px;
  }

  .container-sobre {
    max-width: 800px;
  }

  .container-sobre img {
    width: 400px;
    height: auto;
  }

  .titulo {
    font-size: 2.25rem;
  }

  .txt {
    font-size: 1rem;
    line-height: 1.2rem;
    margin: 5px 0 20px 0;
  }

  .btn {
    font-size: 1.125rem;
    padding: 7px 14px;
  }

  .destaque {
    max-width: 850px;
    grid-template-columns: 1fr 400px;
    padding: 20px 20px;
    gap: 10px 20px;
  }

  .destaque img {
    width: auto;
    height: auto;
  }

  .item {
    width: 100px;
    padding: 20px 10px;
  }

  .item-txt {
    font-size: 1rem;
  }
}

@media(max-width:800px) {
  main {
    margin-top: 80px;
  }

  .container-sobre {
    max-width: 600px;
    grid-template-columns: auto;
    justify-content: center;
    justify-items: center;
  }

  .container-sobre img {
    width: 500px;
  }

  .sobre {
    text-align: center;
    width: 400px;
  }

  .sobre::before {
    width: 100%;
    height: 5px;
    top: -5px;
    left: 0;
    border-radius: 5px 5px 0 0;
  }

  .titulo {
    width: auto;
  }

  .titulo::before {
    display: none;
  }

  .container-destaque div .btn {
    justify-self: center;
    margin-top: 40px;
  }

  .destaque {
    grid-template-columns: 1fr;
    max-width: 630px;
    justify-items: center;
  }

  .destaque::before {
    width: 100%;
    height: 5px;
    left: 0px;
    top: -5px;
    border-radius: 5px 5px 0 0;
  }

  .item-container {
    gap: 50px;
    margin-top: 40px;
  }

  .item-txt {
    line-height: 1rem;
  }
}

@media(max-width:600px) {
  main {
    margin-top: 60px;
  }

  .container-sobre {
    max-width: 450px;
  }

  .container-sobre img {
    width: 450px;
  }


  .sobre {
    width: 325px;
  }

  .titulo {
    font-size: 1.75rem;
  }

  .titulo::before {
    display: none;
    /* width: 4px;
    height: 8px;
    left: 124px;
    bottom: 15px; */
  }

  .txt {
    font-size: 1rem;
  }

  .destaque {
    max-width: 450px;
    padding: 15px;
  }

  .destaque img {
    width: 420px;
  }

  .item-container {
    gap: 20px
  }
}

@media(max-width:450px) {
  main {
    margin-top: 50px;
  }

  .container-sobre {
    width: 80%;
  }

  .container-sobre img {
    width: 80%;
  }

  .sobre {
    width: 60%;
  }

  .titulo {
    font-size: 1.25rem;
  }

  .titulo::before {
    display: none;
  }

  .txt {
    font-size: .75rem;
    line-height: 1rem;
  }

  .btn {
    font-size: .75rem;
  }

  .destaque {
    width: 80%;
  }

  .item-container {
    flex-wrap: wrap;
    justify-content: center;
  }

  .item {
    height: 80px;
  }
}