main {
  max-width: 1200px;
  margin: 120px auto;
}

.item-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  transition: 1s;
}

.titulo {
  font-size: 2.75rem;
  font-family: var(--tipografia-rasa);
  font-weight: bold;
  line-height: 2.75rem;
  position: relative;
  margin: 0 0 20px 30px;
}

.titulo::before {
  width: 5px;
  height: 12px;
  content: "";
  display: inline;
  background-color: #1D712F;
  position: absolute;
  bottom: 13px;
  left: -8px;
  border-radius: 0 0 0 5px;
}

.item {
  background-color: var(--cor-bg-2);
  box-sizing: border-box;
  padding: 25px;
  border-radius: 0 0 5px 5px;
  position: relative;
  border: 1px solid transparent;
  transition: .25s;
}

.item:nth-child(even) {
  background-color: var(--cor-bg-3);
}

.item:nth-child(even) .item-conteudo-container {
  background-color: var(--cor-bg-2);
}

.item::before {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background-color: var(--cor-preto);
  position: absolute;
  left: 0px;
  top: -5px;
  border-radius: 5px 5px 0 0;
}

.item .item-foto {
  width: 100%;
  height: 195px;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}

.item .direita {
  /* object-position: -65px 0px; */
  object-position: right;
}

.item .esquerda {
  object-position: -110px 0px;
}

.item-conteudo-container {
  display: grid;
  gap: 25px;
  padding: 30px 20px;
  background-color: var(--cor-bg-3);
  border-radius: 0 0 5px 5px;
  position: relative;
}

.item-conteudo-container::before {
  content: "";
  width: 100%;
  height: 2px;
  display: block;
  position: absolute;
  background: var(--cor-preto);
  left: 0px;
  top: -1px;
}

.item-txt {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* display: flex; */
  gap: 50px;
  font-family: var(--tipografia-lato);
  font-size: 1.25rem;
  font-weight: 500;
  color: #1a1a1a;
}

.bold {
  font-weight: 700;
}

.comodos-container {
  display: flex;
  justify-content: center;
  gap: 80px;
  text-align: center;
}

.comodos-container img {
  width: 40px
}

.comodos-container p {
  font-family: var(--tipografia-lato);
  font-size: 1.25rem;
  font-weight: 500;
  color: #1a1a1a;
}

/* article:hover .item {
  border: 1px solid black;
 }  */

@media(max-width:1200px) {
  main {
    max-width: 800px;
  }

  .item-container {
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }

}

@media(max-width:800px) {
  main {
    max-width: 600px;
    margin: 60px auto;
  }

  .titulo {
    font-size: 2.25rem;
  }

  .item-container {
    gap: 30px 15px;
  }

  .item .item-foto {
    height: 150px;
  }

  .item-conteudo-container {
    gap: 15px;
    padding: 18px 15px;
  }

  .item-txt {
    font-size: 1rem;
    text-align: center;
  }

  .comodos-container img {
    width: 30px
  }

  .comodos-container p {
    font-size: 1rem;
  }

  .cidade {
    justify-self: center;
  }

}

@media(max-width:600px) {
  main {
    max-width: 450px;
  }

  .item-container {
    grid-template-columns: 240px;
  }

  .item .item-foto {
    width: 240px;
    height: 150px;
  }
}

@media(max-width:450px) {}