.main {
  max-width: 1200px;
  margin: 120px auto;
}

img {
  border-radius: 5px;
}

.conteudo-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
}

.conteudo-container section {
  display: grid;
}

.fotos-container {
  display: flex;
  width: 550px;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}

.foto-grande {
  width: 550px;
}

.foto-pequena {
  width: 130px;
  transition: .3s;
}

.foto-pequena:hover {
  opacity: 0.8;
}

.ativa {
  display: block;
}

.inativa {
  display: none !important;
}

.selecionada {
  opacity: 0.5;
}

.infos-container {
  display: grid;
  background-color: var(--cor-bg-2);
  justify-self: center;
  padding: 30px;
  align-items: stretch;
  border-radius: 5px;
  box-sizing: border-box;
  width: 480px;
}

.cidade {
  font-family: var(--tipografia-lato);
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: 700;
}

.infos {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info {
  font-family: var(--tipografia-lato);
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: var(--cor-preto);
  white-space: nowrap;
}

.interesse {
  display: flex;
  align-items: center;
}

.infotexto {
  font-family: var(--tipografia-lato);
  font-size: 1rem;
  line-height: 1rem;
  color: #717171;
  font-weight: bold;
  margin-right: 15px;
}

.preco {
  align-self: start;
  margin-top: 15px;
}

.tag-preco {
  font-family: var(--tipografia-lato);
  font-size: 2rem;
  line-height: 2.5rem;
  color: #E6EDE6;
  background-color: var(--cor-destaque);
  padding: 10px;
  border-radius: 5px;
}

.link {
  font-size: 1.5rem;
  font-weight: 700;
  font-family: var(--tipografia-lato);
  line-height: 2rem;
  padding: 5px 4px 0px 5px;
  color: var(--cor-preto);
  border-bottom: 2px solid var(--cor-preto);
  transition: .3s;
}

.link:hover {
  color: #717171;
  border-color: #717171;
}

.detalhe {
  display: inline-block;
  width: 100%;
  height: 1px;
  background-color: #DEDEDE;
  margin: 0 10px 0 10px;
}

.separador {
  width: 100%;
  height: 1px;
  display: block;
  margin: 22px 0 18px 0;
  background-color: #DEDEDE;
}

.titulo {
  margin-bottom: 15px;
  margin-left: 15px;
}

.texto {
  font-family: var(--tipografia-lato);
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 500;
}

@media(max-width:1200px) {
  .main {
    max-width: 800px;
  }

  .conteudo-container {
    gap: 40px;
  }

  .foto-grande,
  .fotos-container {
    width: 400px;
  }

  .infos-container {
    width: 400px;
  }

  .cidade {
    font-size: 1.75rem;
  }

}

@media(max-width:800px) {
  .main {
    max-width: 600px;
  }

  .conteudo-container {
    grid-template-columns: 1fr;
  }

  .conteudo-container section {
    justify-self: center;
  }

  .foto-grande,
  .fotos-container {
    width: 550px;
  }

  .infos-container {
    width: 550px;
  }

  .interesse {
    margin: 5px 0;
  }

  .tag-preco {
    padding: 6px;
  }

  .main .h1 {
    width: fit-content;
    margin-left: 40px;
  }

  .descricao {
    width: 550px;
    margin: 0 auto;
  }

  .titulo {
    font-size: 2.5rem;
  }

}

@media(max-width:600px) {
  .main {
    max-width: 450px;
    margin: 60px auto;
  }

  .foto-grande,
  .fotos-container {
    width: 450px;
  }

  .foto-pequena {
    width: 105px;
  }

  .infos-container,
  .descricao {
    width: 450px;
    margin: 0 auto;
  }

  .titulo {
    font-size: 2rem;
  }

  .cidade {
    font-size: 1.5rem;
  }

  .texto,
  .info {
    font-size: 1.25rem;
  }

  @media (max-width:450px) {
    .main {
      max-width: 100%;
    }

    .infos-container {
      padding: 20px;
    }

    .fotos-container {
      width: 220px;
      margin-left: auto;
      margin-right: auto;
    }

    .infos-container,
    .descricao,
    .foto-grande {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
    }

    .main .h1 {
      margin: 0 auto;
    }

    .titulo {
      font-size: 1.75rem;
      width: fit-content;
      margin: 0 auto;
    }

    .cidade {
      font-size: 1.25rem;
    }

    .link {
      font-size: 1rem;
    }

    .texto,
    .info {
      font-size: 1rem;
      line-height: 1.75rem;
    }

    .infotexto {
      font-size: .75rem;
    }

    .tag-preco {
      font-size: 1.25rem;
      padding: 5px;
    }
  }
}