.header {
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin: 0 auto;
  margin-top: 40px;
}

.logo {
  width: 170px;
  margin-left: 100px;
}

header nav {
  justify-self: center;
}

.header ul {
  display: flex;
  gap: 100px;
}

li {
  border-bottom: 2px solid transparent;
  transition: .15s;
}

.pagina {
  border-bottom: 0.5px solid var(--cor-preto);
  transition: 0s;
}

li a {
  display: flex;
  font-size: 1.5rem;
  color: var(--cor-tipografia);
  font-family: var(--tipografia-lato);
  gap: 8px;
  padding: 10px 10px 5px 10px;
}

li:hover {
  border-bottom: 2px solid black;
}

li img {
  width: 22px;
  margin-top: 2px;
  height: 23px;
}

@media(max-width:1200px) {
  .header {
    max-width: 800px;
    justify-items: center;
  }

  .logo {
    margin-left: 0px;
  }

  .header nav ul {
    gap: 50px;
  }
}

@media(max-width:800px) {
  .header {
    max-width: 600px;
  }

  .logo {
    width: 150px;
    justify-self: center;
  }

  header nav ul {
    gap: 0px;
  }

  li img {
    width: 20px;
  }

  li a {
    font-size: 1.5rem;
  }
}

@media(max-width:600px) {
  header {
    width: 400px;
    justify-items: center;
  }

  .logo {
    width: 100px;
    margin-left: 25px;
    justify-self: left;
  }

  .header nav ul {
    gap: 10px;
  }

  li img {
    width: 15px;
  }

  li a {
    font-size: 1.125rem;
    width: max-content;
  }
}

@media(max-width:450px) {
  .header {
    width: 80%;
    justify-items: left;
    gap: 10px;
    grid-template-columns: 1fr;
  }

  .logo {
    display: block;
    justify-self: center;
    margin: 0px;
  }

  .header nav ul {
    gap: 10px;
  }

  li img {
    width: 15px;
  }

  li a {
    padding: 5px;
    align-items: center;
  }
}